//Bootstarp import
@import "bootstrap/scss/bootstrap";
//Fontawsome import
@import"node_modules/@fortawesome/fontawesome-free/css/all.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


// RESET
a {
    text-decoration: none;
    color: inherit;
}
header li {
    list-style-type: none;
}
img {
    max-width: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
}
// LAYOUT
.container {
   width: 65%;
}


// Common
.btn {
    font-size: .8rem;
    color: white;
    border-radius: 2px;
}
.main-btn {
    background-color: #038384;
}
.second-btn {
    border:1px solid #038384;
}
.ms_card {
    background-color: rgba(255, 255, 255, 0.034);
    position: relative;
    padding: 2rem;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.708);
    transition: all 1s;
}
.ms_section-title {
    font-weight: 800;
    font-size: 2.5rem;

    span {
        background-color: rgba(173, 216, 230, 0.255);
        color: #16928e;
        padding: .2rem;
        }
}
.ms_section-subtitle {
    font-size: .6rem;
    font-weight: bolder;
    color: #038384;
}

//HOVER

.ms_card:hover {
    transform: scale(1.1); 
}


